body {
    height: 100%;
    background-color: #99AAFF;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

#header {
    widht: 100%;
    height: 60px;
    line-height: 60px;
    padding: 20px;
    background-color: #222222;
    color: white;
    margin: 0px;
    font-size: 200%;
    border-bottom-style: solid;
    border-bottom-color: #AAAAAA;
}

#main {
    background-color: #444444;
    width: 600px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
}

#main #game {
    margin: 0px auto;
}

